:root {
  --circunferenciasRadio: 50%;
  --numerodiviciones:4;
  --ancho:300px;
}
body{
 	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-size: cover;

}
.texto_items a:link, a:visited, a:active{
	text-decoration:none;
}
 .barra_contenido{
 	display: flex;
 	align-self: auto;
    position: relative;
    z-index: 5;
    background: black;
    height: 100px;
}
 .barra_contenido::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
        left: 0;
    right: 0;
    
  background-color: #273253 ;
    opacity: 0.75;
}

.sobremi h2{
	font-size: 30px;
}
.servicio h2{
	font-size: 30px;
}
p{
	font-size: min(calc(1em + 1vw),35px);
}
.texto_items3 p{
	font-size: calc(1em + 1vw);
}
.imagen_foto_perfil{
	width: 197px;
	height:236px;
/*	shape-outside: circle();
	clip-path: circle();*/
	border-radius: 50%;
	object-fit: cover;
	opacity: 0.95;
}
.degradado1{
position: relative;
    border: 4px solid transparent;
    border-radius: var(--circunferenciasRadio);
    background: linear-gradient(to bottom,#d7d7d7 0%, #black 100%)1;
    background-clip: padding-box;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.degradado1::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: linear-gradient(#d7d7d7 , black);
    content: '';
    z-index: -1;
    border-radius: var(--circunferenciasRadio);
}
.fotoperfil{
	width:197px;
	width:calc(197px*1.1);
	height:236px;
}


.contenedor_items{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	width:calc(100%/var(--numerodiviciones));
	
}
.contenedor_items:hover{
background: white;
}
.contenedor_items:hover h2{
color: black;
}
.contenedor_items p{
	color: white;
}
.texto_items{
	text-align: center;
	width:100%;
}
.contenedor_items2{
	position: relative;
	display: flex;
	align-items: center;
/*	height: 100px;*/
	width:100%;
}

.texto_items2{
	display: auto;
	text-align: center;
	width:80%;
}
.texto_items3{
	display: absolute;
	text-align: left;
	width:50%;
	padding: 1%;
	color: white;
	white-space: nowrap;

}
.texto_items3 div{
	font-size: 2.5vw;
}
.contenedor_items2 h2{
	position: relative;
	font-size: 4vw;
}

.texto_items h2{
	font-size:calc(1em + 1vw);

}

.barra_contenido h2{
	color: white;
}
.texto_items2 i{
	color: white;
}



.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
	justify-content: center;
	border: solid 2px black;
	align-items: center;
	align-content: center;
	background: red;
}
.grid2{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  }
.contenedor_items.open{
	background: white;
}
.contenedor_items.open h2{
	color: black;
}

.contenedor_items.info.open{
	background: linear-gradient(white, white);
/*	background: yellow;*/
}

.contenedor_items.info.open h2{
	color: black;
}
.contenedor_items.proyect.open{
	background: linear-gradient(white,#49f3e8);
}

.contenedor_items.proyect.open h2{
	color: black;
}
.contenedor_items.servicio.open{
	background: linear-gradient(white,#00A9FF);
}

.contenedor_items.servicio.open h2{
	color: black;
}

 .barra_contenido2{
 	display: flex;
 	align-self: auto;
    position: relative;
    z-index: 5;
    background: black;
}
 .barra_contenido2::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
        left: 0;
    right: 0;
    
  background-color: #273253 ;
    opacity: 0.75;
}

.barra_contenido2 h2{
 color: white;
}

.degradado2{
	padding: 20px;
background: linear-gradient(white,#49f3e8);
}

.degradado3{
	padding: 20px;
background: linear-gradient(#49f3e8,#00A9FF);
}
.degradado4{
	padding: 20px;
background: linear-gradient(#00A9FF,#273253);
}

.texto_items3 a:link, a:visited, a:active{
	text-decoration:none;
	color: white;
}

.contenedor_imagen{
	min-width:250px;
	width: 270px;
	max-width: 290px;
	width: 100%;
	border: solid 2px red;
}
.imagenes{
	min-width:250px;
	width: var(--ancho);
	height: 350px;
	border-radius: 20px;
	object-fit: cover;
	border:solid 2px black;
}
.targeta_imagen{
	display:flex;
	min-width:250px;
	width: var(--ancho);
	border-radius: 20px;
	background: linear-gradient(red,#49f3e8);
	

}
.texto_imagen{
	
	height: 50px;
	min-width:250px;
	width: var(--ancho);
	color: black;
	white-space: nowrap;
	border: solid 2px yellow;
	
	font-size: 1.5vw;
}
.contiene_grid{
	position: relative;
	display: revert;
}

.proyectos{
	background: linear-gradient(#00A9FF,#00A9FF);
}



































.main .proyectos {
  padding: 3rem 3rem;
/*  margin-bottom: 3rem;*/
  background: linear-gradient(#49f3e8,#00A9FF);

}
.main .proyectos .contenedor-proyectos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}
.main .proyectos .contenedor-proyectos .proyecto {
  margin: auto;
  width: 275px;
  height: 350px;
}
.main .proyectos .contenedor-proyectos .proyecto .info {
  padding: 1rem 0.5rem;
  height: 10.625rem;
  background: linear-gradient(white,#49f3e8);
  color: #000000;
  border: 0.125rem solid #969a97;
}
.main .proyectos h2 {
  font-size:30px;
}

.main .proyectos .contenedor-proyectos .proyecto .info h4 {
  text-align: left;
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
}
.main .proyectos .contenedor-proyectos .proyecto .info h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: normal;
}
.main .proyectos .contenedor-proyectos .proyecto .info p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .html {
  color: #854723;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .css {
  color: #0571BA;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .javascript {
  color: #958120;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .bootstrap {
  color: #623F91;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .sass {
  color: #CC6699;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .python {
  color: #646464;
}
.main .proyectos .contenedor-proyectos .proyecto .info p .vba {
  color: #808080;
}

.main .proyectos .contenedor-proyectos .proyecto .foto a img {
  width: 275px;
  height: 10.625rem;
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
.main .proyectos .contenedor-proyectos .proyecto .foto a img:hover {
  filter: grayscale(100);
}
.main .proyectos .contenedor-proyectos .proyecto .info .foto img {
  width: 100%;
  height: 11.25rem;
  vertical-align: top;
}

.main .proyectos .contenedor-proyectos .proyecto .foto a img {
  filter: grayscale(0);
  transition: all 0.5s ease-in-out;
}
.main .proyectos .contenedor-proyectos .proyecto .foto a img:hover {
  filter: grayscale(100);
}
.menu .foto {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.menu .foto img {
  width: 2.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}

.nota{
	padding:10px;
	color: black;
	line-height:15px;
}
.informacion{
	border-radius: 10px;
	padding:1%;
	background-color: #273253;
	color: white;
}
.informacion h1{
	font-size: 4vw;;
}
.informacion p{
	font-size: 2vw;
	line-height:2vw;
}
.informacion p2{
	font-size: 3vw;;
}


.habilidades{
	width: 75%;
	border-radius: 8px;
	border:solid 5px black;
}

.servicio{
	font-size:20px;
}