.rejilla{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
/*  outline: 2px solid black;*/
}

.main .proyectos .contenedor-proyectos {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(var(--anchoProyectos), 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
/*  outline: 2px solid black;*/
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  justify-content: center;
  border: solid 2px black;
  align-items: center;
  align-content: center;
  background: red;
}
.grid2{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  }